<%= form_for(gooz) do |f| %>
  <% if gooz.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gooz.errors.count, "error") %> prohibited this gooz from being saved:</h2>

      <ul>
      <% gooz.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :goozname %>
    <%= f.text_field :goozname %>
  </div>

  <div class="field">
    <%= f.label :goozvalue %>
    <%= f.text_field :goozvalue %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
