<p id="notice"><%= notice %></p>

<h1>Goozs</h1>

<table>
  <thead>
    <tr>
      <th>Goozname</th>
      <th>Goozvalue</th>
      <th>Goozdecrypted</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @goozs.each do |gooz| %>
      <tr>
        <td><%= gooz.goozname %></td>
        <td><%= gooz.goozvalue %></td>
        <td><%= gooz.decryptedvalue %></td>
        <td><%= link_to 'Show', gooz %></td>
        <td><%= link_to 'Edit', edit_gooz_path(gooz) %></td>
        <td><%= link_to 'Destroy', gooz, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gooz', new_gooz_path %>
