<p id="notice"><%= notice %></p>

<p>
  <strong>Goozname:</strong>
  <%= @gooz.goozname %>
</p>

<p>
  <strong>Goozvalue:</strong>
  <%= @gooz.goozvalue %>
</p>

<%= link_to 'Edit', edit_gooz_path(@gooz) %> |
<%= link_to 'Back', goozs_path %>
