<h1>New Gooz</h1>
<%= form_for @gooz do |form| %>
  <p>
    <%= form.label :goozname %><br>
    <%= form.text_field :goozname %>
  </p>

  <p>
    <%= form.label :goozvalue %><br>
    <%= form.text_field :goozvalue %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
